<%- @title = 'メモ 一覧' %>

<!--TODO: borderが表示されない-->
<% unless @memos.size.zero? %>
  <table class="table-auto mb-6">
    <thead class="font-normal">
      <tr class="bg-gray-200 font-medium rounded-tl rounded-bl">
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">タイトル</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @memos.each do |memo| %>
      <tr>
        <td class="px-4 py-2 border-t-2"><%= memo.id %></td>
        <td class="px-4 py-2 border-t-2"><a href=<%= "/memos/#{memo.id}" %> class="text-blue-500"><%= memo.title %></a></td>
        <td class="px-4 py-2 border-t-2">
          <a href=<%= "/memos/#{memo.id}/edit" %> class="text-blue-500">編集</a>
        </td>
        <td class="px-4 py-2 border-t-2">
          <form action=<%= "/memos/#{memo.id}" %> method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="削除" class="text-blue-500">
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div>
  <a href="/memos/new" class="text-blue-500">新規作成</a>
</div>
