<%- @title = 'メモ 一覧' %>

<% unless @memos.size.zero? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.id %></td>
        <td><a href=<%= "/memos/#{memo.id}" %>><%= memo.title %></a></td>
        <td><a href=<%= "/memos/#{memo.id}/edit" %>>編集</a></td>
        <td>
          <form action=<%= "/memos/#{memo.id}" %> method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="削除">
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div>
  <a href="/memos/new">新規作成</a>
</div>
